header {
    .nav-button {
        cursor: pointer;
    }

    .dropdown-menu.show {
        left: unset;
        right: 0px;
        top: 3rem;
    }
}

.wraper-tweet {
    ul {
        list-style-type: none;
    }
}
.siempreTop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 10;
}
.contenido{
        margin-top: 150px;
}
